@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b breadcrumb {
    font-size:var(--breadcrumd-item-size);
    line-height: 1;
    @utils-clearfix;

    @e separator {
      margin: 0 8px;
      color: var(--breadcrumd-separator-color);
    }
    @e item {
      float: left;

      @e inner {
        &, & a {
          transition: color .15s linear;
          color:var(--breadcrumd-item-color);

          &:hover {
            color: var(--color-primary);
            cursor: pointer;
          }
        }
      }

      &:last-child {
        .el-breadcrumb__item__inner,
        .el-breadcrumb__item__inner a {
          &, &:hover {
            color:  var(--breadcrumd-last-color);
            font-weight: var(--breadcrumd-last-weight);
            cursor: text;
          }
        }

        .el-breadcrumb__separator {
          display: none;
        }
      }
    }
  }
}
