@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b card {
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    background-color: #fff;
    overflow: hidden;
    box-shadow: var(--car-box-shadow);

    @e header {
      padding: var(--car-header-padding);
      border-bottom: 1px solid var(--card-border-color);
      box-sizing: border-box;
    }

    @e body {
      padding: var(--card-padding);
    }
  }
}
