:root {

  /* Transition
  -------------------------- */

  /* Colors drak
  -------------------------- */


  /* Colors tin
  -------------------------- */

  /* Colors
  -------------------------- */

  /* Background color
  -------------------------- */

  /* Border
  -------------------------- */

  /* Box-shadow
  -------------------------- */

  /* Fill
  -------------------------- */

  /* Font
  -------------------------- */

  /* Size
  -------------------------- */

  /* z-index
  -------------------------- */

  /* Disable base
  -------------------------- */

  /* Icon
  -------------------------- */

  /* Checkbox
  -------------------------- */

  /* Radio
  -------------------------- */

  /* Select
  -------------------------- */

  /* Alert
  -------------------------- */

  /* Message Box
  -------------------------- */

  /* Message
  -------------------------- */

  /* Notification
  -------------------------- */

  /* Input
  -------------------------- */

  /* Cascader
  -------------------------- */

  /* Group
  -------------------------- */

  /* Tab
  -------------------------- */

  /* Button
  -------------------------- */


  /* cascader
  -------------------------- */

  /* Switch
 -------------------------- */

  /* Dialog
 -------------------------- */

  /* Table
 -------------------------- */

  /* Pagination
 -------------------------- */

  /* Popover
 -------------------------- */

  /* Tooltip
  -------------------------- */

  /* Tag
  -------------------------- */

  /* Dropdown
  -------------------------- */

  /* Badge
  -------------------------- */

  /* Card
  --------------------------*/

  /* Slider
  --------------------------*/

  /* Steps
  --------------------------*/


  /* NavMenu
  --------------------------*/


  /* Tabs
  --------------------------*/


  /* Rate
  --------------------------*/

  /* DatePicker
  --------------------------*/

  /* Loading
  --------------------------*/

  /* Breadcrumd
  --------------------------*/

   /* Form
   --------------------------*/
}
