.block {
    padding: 30px 24px;
    border-bottom: 1px solid #eff2f6;
}

.block .wrapper {
    float: right;
    margin-right: 20px;
}

body {
    font-size: 13px;
}

a {
    color:#108ee9;
    text-decoration: none;
}
a:hover {
    color:#40a5ed;
}
